.boxClass {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-color: rgb(211, 210, 210);
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    background: none;
    color: white;
    font-size: 18px;
}

/* Centers the video and sets the variable width */
.videoModal {
    display: flex;
    justify-content: center;
    width: 45vw;
}

/* centers the video containtainer both horizontally and vertically */
.modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.setBackground{
    background-color: rgba(0, 0, 0, 0.9);
}

.exitButton{
    color: white;
}