.boxClass {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-color: rgb(211, 210, 210);
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    background: none;
    color: white;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}